## Exports functions
export(appendtofolderh); export(bandwidth.parameter); export(cor.folder); export(distl2d); export(distl2dpar)
export(hellinger); export(hellingerpar)
export(jeffreys); export(jeffreyspar)
export(wasserstein); export(wassersteinpar)
export(mathellinger); export(mathellingerpar)
export(matjeffreys); export(matjeffreyspar)
export(matwasserstein); export(matwassersteinpar)
export(fpcad); export(fdiscd.predict); export(fdiscd.misclass); export(fhclustd); export(fmdsd); export(dstatis.inter)
export(folder); export(folderh); export(foldert)
export(is.fpcad); export(is.fdiscd.misclass); export(is.fdiscd.predict); export(is.fhclustd); export(is.fmdsd); export(is.dstatis)
export(is.folder); export(is.folderh); export(is.foldermtg)
export(is.foldert); export(as.foldert); export(as.foldert.data.frame); export(as.foldert.array)
export(kurtosis.folder); export(l2d); export(l2dpar); export(matdistl2d); export(matdistl2dpar)
export(matipl2d); export(matipl2dpar); export(mtgcomponents); export(mtgorder); export(mtgrank); export(plotframes); export(read.mtg)
export(skewness.folder); export(sqrtmatrix); export(var.folder)
## Exports S3 method
export(as.data.frame.folder); export(as.data.frame.folderh); export(as.data.frame.foldert) 
export(as.folder); export(as.folder.data.frame); export(as.folder.folderh) 
export(as.folderh); export(as.folderh.foldermtg)  
export(interpret); export(interpret.fpcad); export(interpret.fmdsd); export(interpret.dstatis)
export(mean.folder)
export(plot.fpcad); export(plot.fhclustd); export(plot.fmdsd); export(plot.dstatis)
export(print.fpcad); export(print.fdiscd.misclass); export(print.fdiscd.predict); export(print.fhclustd); export(print.fmdsd); export(print.foldert); export(print.foldermtg); export(print.dstatis)
export(summary.folder); export(summary.folderh); export(summary.foldermtg); export(summary.foldert)
export(getcol.folder); export(getcol.foldert); export(rmcol.folder); export(rmcol.foldert)
export(getrow.folder); export(getrow.foldert); export(rmrow.folder); export(rmrow.foldert)
export(plot.foldert)
export(fpcat); export(print.fpcat); export(plot.fpcat); export(interpret.fpcat)
## Imports packages
import(lattice)
## Import functions from other packages
importFrom(grDevices, dev.list, dev.off, pdf, dev.new)
importFrom(graphics, barplot, par, plot, text, arrows, axis, matplot, legend, points)
importFrom(methods, is, as)
importFrom(stats, as.dist, cmdscale, cor, var, hclust)
importFrom(utils, combn, head, stack, tail, read.table)
importFrom(e1071, skewness, kurtosis)
## Lists S3 methodes 
S3method(summary, folder)
S3method(summary, folderh)
S3method(print, foldermtg)
S3method(summary, foldermtg)
S3method(mean, folder)
S3method(as.folder, data.frame)
S3method(as.data.frame, folder)
S3method(as.foldert, data.frame)
S3method(as.foldert, array)
S3method(print, foldert)
S3method(summary, foldert)
S3method(plot, foldert)
S3method(as.data.frame, foldert)
S3method(as.folder, folderh)
S3method(as.data.frame, folderh)
S3method(as.folderh, foldermtg)
S3method(print, fpcad)
S3method(plot, fpcad)
S3method(interpret, fpcad)
S3method(print, fpcat)
S3method(plot, fpcat)
S3method(interpret, fpcat)
S3method(print, fmdsd)
S3method(plot, fmdsd)
S3method(interpret, fmdsd)
S3method(print, fdiscd.misclass)
S3method(print, fdiscd.predict)      
S3method(print, fhclustd)
S3method(plot, fhclustd)
S3method(print, dstatis)
S3method(plot, dstatis)
S3method(interpret, dstatis)
