exportPattern("^[[:alpha:]]+")
import("lattice", "e1071")
importFrom("grDevices", "dev.list", "dev.off", "pdf", "dev.new")
importFrom("graphics", "barplot", "par", "plot", "text")
importFrom("methods", "is")
importFrom("stats", "as.dist", "cmdscale", "cor", "var")
importFrom("utils", "combn", "head", "stack", "tail")
S3method(print, fpcad)
S3method(plot, fpcad)
S3method(print, fmdsd)
S3method(plot, fmdsd)
S3method(print, fdiscd.misclass)
S3method(print, fdiscd.predict)