exportPattern("^[[:alpha:]]+")
import("lattice", "e1071")
importFrom("grDevices", "dev.list", "dev.off", "pdf", "dev.new")
importFrom("graphics", "barplot", "par", "plot", "text")
importFrom("methods", "is", "as")
importFrom("stats", "as.dist", "cmdscale", "cor", "var")
importFrom("utils", "combn", "head", "stack", "tail")
S3method(summary, folder)
S3method(summary, folderh)
S3method(mean, folder)
S3method(as.folder, data.frame)
S3method(as.data.frame, folder)
S3method(as.folder, folderh)
S3method(as.data.frame, folderh)
S3method(print, fpcad)
S3method(plot, fpcad)
S3method(interpret, fpcad)
S3method(print, fmdsd)
S3method(plot, fmdsd)
S3method(interpret, fmdsd)
S3method(print, fdiscd.misclass)
S3method(print, fdiscd.predict)